
 <% @articles.each_slice(3).to_a.each do |article_group| %>
  <div class="row">
    <% article_group.each do |article| %>
      <div class="col-4">
        <div class="card">
          <% if article.photo.attached? %>
            <%= cl_image_tag(url_for(article.photo), width: 300, height: 300) %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= article.text %></p>
            <%= link_to 'Detalle', article, class: 'btn btn-outline-secondary' %>
            <%= link_to 'Editar', edit_article_path(article), class: 'btn btn-outline-secondary' %>
            <%= link_to 'Eliminar', article_path(article), method: :delete, data: {confirm: 'Estás seguro?'}, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to "Volver al index",  articles_path, class: 'btn btn-primary' %>
<%= link_to "Crear un artículo", new_article_path, class: 'btn btn-primary' %> 