 <p><h3>Detalles del articulo</h3></p>

  <% if @article.photo.attached? %>
    <%= image_tag(url_for(@article.photo), width: 150, height: 200) %>
  <% end %>

  <p><strong>Titulo:</strong></p>
  <p><%= @article.title %></p>
 
  <p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</p>
<%= link_to 'Volver a lista de articulos ' , articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>